
 body, html {
   height: 100%;
    
} 

/*body  {
	
margin: 0 auto;
    color: #a1a1a1;
    font-size: 16px;
font-family: "helvetica";

} */

/*Début header*/


 header {
	text-align: center;
	height: 940px;

} 
#page {
	background-color: black;
    opacity: 0.8;
    margin: -10px;
    text-align: center;


}
body {
	background: url(images/background.jpg) ;
	background-attachment: fixed; 
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	 color: red;
	background-position: center; 
	text-align: center;

} 



.menu {
	
	display: flex;
	justify-content: center;
	
	
	


} 

.menu a {
	text-decoration: none;
	color: #a1a1a1;
}

.menu a:hover {
	color: white;
}

.menu .element {
	padding: 0 20px;
	margin-top: 60px;
}


.hero-text {
	position: relative;
	top: 290px;
}

.hero-text p {
	color: #a1a1a1;
}

 h1 a {
	
	text-shadow: 2px 2px 2px black;
	color: white;
	text-decoration: none;
	font-size: 50px;
	letter-spacing: 15px;
	font-weight: 100;
	font-family: "helvetica";
} 

/*fin header*/